:root {
    --lightmodebackground: #dbdbdb;
    --lightmodetext: #ffffff;
    --darkmodebackground: #241c49;
    --darkmodetext: #000000;
}

* {
    margin: 0;
    padding: 0.2%;
    box-sizing: border-box;
}

body {
    background-color: var(--lightmodebackground);
}

main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex: 1 1 40vw;
}

section {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 80vh;
    border: solid 5px;
    border-color: black;
    padding: 3.5vh;
    margin: .25em;
    min-height: 400px;
    min-width: 300px;
    margin-top: .25em;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 80vh;
    border: solid 5px;
    border-color: black;
    padding: 3.5vh;
    margin: .25rem;
    min-height: 400px;
    min-width: 375px;
    margin-top: .25rem;
}

.hero-sphere {
    height: 350px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: repeating-linear-gradient(45deg, #0c0c0c, #481e14 10px, #9b3922, 10px, #f2613f 20px);
}

/* h1 {
    position: relative;
    text-align: right;
    padding-left: 85%;

} */

h2 {
    color: var(--lightmodetext);
    text-align: center;
    font-size: 2em;
    position: relative;
}

h4 {
    text-align: left;
    font-size: 2.3rem;
    position: relative;
    text-transform: uppercase;
}

#username,
#title,
#content {
    width: 10em;
    font-size: 1.8em;
    height: fit-content;
}

button {
    justify-content: flex-end;
    background-color: #484747;
    color: #ffffff;
    border-radius: 0.rem;
    padding: 0.5em;
    margin-top: 0.5em;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
    text-transform: uppercase;
}

button:hover {
    background-color: #000000;
    color: #ffffff;
}

.light {
    background-color: var(--lightmodebackground);
    color: var(--darkmodetext);
    height: 100vh;
}

.light h2,
h3 {
    color: var(--darkmodetext);
}

.light h4 {
    color: var(--darkmodetext);
    text-align: left;
    font-size: 2.5em;
    position: relative;
    padding: 5px;
    text-transform: uppercase;
}

.light .hero-sphere {
    background: repeating-linear-gradient(45deg, #F16A70, #81d877 10px, #8CDCDA 10px, #4D4D4D 20px);
}

.dark {
    background-color: var(--darkmodebackground);
    color: var(--darkmodetext);
    height: 100vh;
}

.dark h2 {
    color: var(--lightmodetext);
    font-size: 2em;
    position: relative;
}

.dark h3 {
    color: var(--lightmodetext);
}

.dark h4 {
    color: white;
    text-align: left;
    font-size: 2.5em;
    position: relative;
    padding: 5px;
    text-transform: uppercase;
}


.dark .backbutton {
    background-color: #000000;
    color: #f1f8ff;
}

.dark .backbutton:hover {
    background-color: #000000;
    cursor: pointer;
}

.dark a {
    color: var(--darkmodetext);
}